#sidebar ul.menu li.active-2 {
    font-weight: bold;
} 
#sidebar ul.menu li {
    margin-bottom: 20px;
}
#sidebar ul.menu  {
    font-size: 20px;
    line-height: 1.2;
}
#sidebar ul.menu li.current_page_item {
    font-weight: bold;
}
.comment-wrapper ul.children { 
    padding-left: 35px;
    border-left: 1.2px dashed #d5d5d5;
    margin: 25px 0 15px 35px;
}
.custom-checkbox { 
    padding-left: 0; 
}
.comment-item .comment-author .avatar { 
    background: #827a7a78; 
}
.login-to-comment {
    padding: 10px;
    display: inline-block;
    color: #fff;
    background: #26677f;
    border: 1px solid #26677f;
}

.login-to-comment:hover {
    background: #fff;
    color: #26677f;
}
.info-user ul.sub-menu {
    width: 180px;
}

.mona-like-ajax::before{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f10c";
    animation: fa-spin 2s infinite linear;
    font-size: 0;
    margin-right: 5px;
}
.loading .mona-like-ajax:before,
.mona-like-ajax.loading:before{
    font-size: inherit; 
}

.load-ajax{
    position: relative;
}
.load-ajax.loading:before {
    opacity: 0.7;
    visibility: visible;
}
.load-ajax:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: #fff;
    opacity: 0;
    visibility: hidden;
    z-index: 9;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}
.load-ajax.loading:after {
    font-size: 30px;
}
.load-ajax:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f1ce";
    font-size: 0;
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -15px;
    margin-top: -15px;
    z-index: 99;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

.top-footer ul.menu li {
    margin-bottom: 15px;
}

.zone-loading-ajax {
    position: relative;
}
.zone-loading-ajax.loading:before {
    opacity: 0.7;
    visibility: visible;
}
.zone-loading-ajax:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #fff;
    opacity: 0;
    visibility: hidden;
    z-index: 9;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}
.zone-loading-ajax.loading:after {
    font-size: 30px;
}
.zone-loading-ajax:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f1ce";
    font-size: 0;
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -15px;
    margin-top: -15px;
    z-index: 99;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}
.services-item .services-title { 
    text-transform: uppercase;
}
.back-btn i{
    font-size: 20px;
    margin-right: 5px;
    vertical-align: middle;
    display: inline-block;
}
.back-btn::before{
    content: none;
}
@media screen and (max-width: 1600px) {
    .home-section-decor{
        display: none;
    }
}
.request-for-quotes-img .mona-open-video-btn{
    position: absolute;
    bottom: 0;
    right: 70px;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}
.mona-open-video-btn {
    display: block;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    border: 1px solid #d3d3d3;
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.mona-open-video-btn .fa {
    background-color: #15677f;
    color: #fff;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.16);
}
.market-research-img .mona-open-video-btn {
    position: absolute;
    left: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 30px;
}
.figures-item span.countUp-number {
    font-size: 36px;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 10px;
}
.about-direct-slider-nav .slide-item:first-child{
    border-left: 1px solid #e2e2e2;
}
.mona-btn-ajax::after{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f10c";
    animation: fa-spin 2s infinite linear;
    font-size: 0;
    margin-right: 5px;
}
.loading .mona-btn-ajax:after,
.mona-btn-ajax.loading:after{
    font-size: inherit; 
}
h1.banner-title {
    color: #fff;
}
 
#customer_details .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper p ,
.woocommerce-additional-fields .woocommerce-additional-fields__field-wrapper #order_comments_field{
    width: 100%;
}

.woocommerce table.shop_table th {
    background: transparent;
    color: #000;
}

.mona-content table th, .mona-content table td {
    border: none;
}
.footer .current_page_item a{
    color: #15677f;
}
.achievement-item:hover {
    background-color: transparent;
    color: #15677f;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.e-auction .achievement-wrapper .achievement-item:hover {
    background-color: transparent;
    color: #15677f;
    border-color: #d3d3d3;
}
.wow {
    animation-duration: 1s;
}
.main-menu-nav .current-menu-item > a, .main-menu-nav .current-menu-parrent > a ,.main-menu-nav a:hover{ 
    color: #15677f;
}
 
#custom_checkout_field h3{
    font-size: 20px;
    color: #384259;
}
span.woocommerce-input-wrapper input{
    margin-right: 20px ;
}
.services-item h3.services-title.hung-active {
    color: #15677f;
    border-left: 5px solid #15677f;
    font-weight: bold;
    padding: 3px;
    padding-left: 10px;
}
 
.services-item h3.services-title {
    min-height: 55px;
    font-size: 21px;
    font-weight: 400;
    vertical-align: middle;
}
section.woocommerce-bacs-bank-details { 
    content: "";
    display: table;
    clear: both;
}
.woocommerce form .form-row .optional{
    display: none;
}
section.woocommerce-bacs-bank-details h3.wc-bacs-bank-details-account-name {
    width: 40%;
    float: left;
    font-size: 20px; 
}

section.woocommerce-bacs-bank-details ul.wc-bacs-bank-details.order_details.bacs_details {
    width: 59%;
    display: inline-block;
}
@media screen and (max-width: 700px) {
    section.woocommerce-bacs-bank-details h3.wc-bacs-bank-details-account-name { 
        font-size: 11px; 
    }
    section.woocommerce-bacs-bank-details ul.wc-bacs-bank-details.order_details.bacs_details {
        width: 100%; 
    }
}

  
.woocommerce-input-wrapper input , .woocommerce-input-wrapper label , .cursor-pointer {
    cursor: pointer;
}
.woocommerce form .form-row {
    margin-bottom: 20px;
}
.success-wrapper { 
    padding: 0;
}
.woocommerce-billing-fields__field-wrapper .required{
    float: left;
    margin-right: 5px;
}
li.wc_payment_method.payment_method_cheque {
    display: none;
}
.ml-10 {
    margin-left: 10px;
}
.product-name {
    font-weight: bold;
}

dl.variation {font-weight: 500;}
.woocommerce table.shop_table {
    border:0;
}
.woocommerce-page .woocommerce table.shop_table td {
    padding: 0;
}
.woocommerce-page .woocommerce table.shop_table td.qty-product {
    padding-right: 20px;
}
td.product-total {
    text-align: right;
}
form.checkout.woocommerce-checkout {
    padding: 0 60px;
}
.woocommerce-billing-fields__field-wrapper{
	    display: flex;
		 display: -webkit-flex;
    flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}
.woocommerce-billing-fields__field-wrapper #billing_last_name_field{
	order:0;
	-webkit-flex-order:0;
}
.woocommerce-billing-fields__field-wrapper #custom_field_gender_field{
	order:1;
	-webkit-flex-order:1;
}
.woocommerce-billing-fields__field-wrapper #billing_email_field{
	order:2;
	-webkit-flex-order:2;
}
.woocommerce-billing-fields__field-wrapper #billing_phone_field{
	order:3;
	-webkit-flex-order:3;
}
.woocommerce-billing-fields__field-wrapper #custom_field_registration_mode_field{
	order:4;
	-webkit-flex-order:4;
}
.woocommerce-billing-fields__field-wrapper #billing_company_field{
	order:5;
	-webkit-flex-order:5;
}
.woocommerce-billing-fields__field-wrapper #custom_field_company_tax_code_field{
	order:6;
	-webkit-flex-order:6;
}
.woocommerce-billing-fields__field-wrapper #custom_field_position_field{
	order:7;
	-webkit-flex-order:7;
}
.woocommerce-billing-fields__field-wrapper #billing_country_field{
	order:8;
	-webkit-flex-order:8;
}
.woocommerce-billing-fields__field-wrapper #billing_city_field{
	order:9;
	-webkit-flex-order:9;
}
.woocommerce-billing-fields__field-wrapper #billing_address_1_field{
	order:10;
	-webkit-flex-order:10;
}
.page-id-610 .news-detail-content .mona-content , .page-id-3 .news-detail-content .mona-content {
    text-align: justify;
}
.market-research-img img {
    position: absolute;
    right: -95px;
}
.market-research-img { 
    margin-top: 0px; 
}
.request-for-quotes-img { 
    margin-top: 87px;
}
@media screen and (max-width: 768px) {
    .market-research-img { 
        margin: 0;
    }
    .market-research-img img {
        position: initial ; 
    }
    .request-for-quotes-img { 
        margin-top: 0;
    }
    .language-picker .sub-menu { 
        right: 0;
        left: inherit;
    }
}
.home-banner-slider-item .home-banner-info {
    background: #0404046b; 
    padding: 30px;
}
.about-direct-slider-nav .slide-item.slick-current .about-direct-link {
    border-bottom-color: transparent;
}
.about-direct-slider-nav .slide-item.current .about-direct-link {
    border-bottom-color: #15677f;
}
.banner-section .banner-title { 
    margin-bottom: 15px;
}
.mb-auto {
    margin-bottom: auto;
}
.container-plus {
    width: 100%;
}
.banner-section .mt-auto.banner-title {
    margin: auto 0;
}