.open-video-btn {
    display: block;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, 0.5);
        background-image: url(../images/open-video-btn.png);
        background-size: 55px auto;
        background-repeat: no-repeat;
        background-position: center center;
        z-index: 2;
    }
    img {
        width: 100%;
        height: auto;
    }
}
.ratio-box {
    display: block;
    position: relative;
    padding-top: 100%;
    height: 0;
    overflow: hidden;
    background-color: #f6f6f6;
    img {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        max-height: 100%;
    }
    iframe {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.mona-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.3;
        margin-bottom: 0.5em;
        margin-top: 0.6em;
    }
    h1 {
        font-size: 1.7em;
    }
    h2 {
        font-size: 1.6em;
    }
    h3 {
        font-size: 1.25em;
    }
    h4 {
        font-size: 1.125em;
    }
    h5 {
        font-size: 1em;
    }
    h6 {
        font-size: 0.85em;
    }
    p {
        margin: 15px 0;
    }
    ul,
    ol {
        margin: 15px 0;
        list-style-position: inside;
    }
    ul ul,
    ul ol,
    ol ul,
    ol ol {
        margin-left: 15px;
    }
    ol {
        list-style-type: decimal;
    }
    ul ul,
    ol ul {
        list-style-type: circle;
    }
    ol ol,
    ul ol {
        list-style-type: lower-latin;
    }
    img,
    iframe {
        max-width: 100% !important;
        height: auto;
    }
}
.table-responsive {
    max-width: 100%;
    overflow: auto;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}
.full-img {
    img {
        width: 100%;
        height: auto;
    }
}
.container {
    width: 1200px;
    max-width: 100%;
    padding: 0 15px;
    margin: auto;
}
.columns {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}
.column {
    padding: 15px;
}
.hamburger-btn {
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: relative;
    .bar {
        width: 20px;
        height: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        transition: 0.2s;
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #fff;
            transition: 0.2s;
        }
        &::before {
            top: -6px;
        }
        &::after {
            top: 6px;
        }
    }
    &.active {
        .bar {
            background-color: transparent;
            &::before {
                top: 0;
                transform: rotate(45deg);
            }
            &::after {
                top: 0;
                transform: rotate(135deg);
            }
        }
    }
}
.main-btn {
    appearance: none;
    font: inherit;
    outline: 0;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    border: 1px solid $main-color;
    background-color: $main-color;
    color: #fff;
    padding: 11px 46px;
    width: 300px;
    max-width: 100%;
    white-space: nowrap;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    &.w-auto {
        width: auto;
    }
    &.full-btn {
        text-align: center;
        width: 100%;
    }
    &.alt {
        background-color: #E7EFF2;
        border-color: #E7EFF2;
        color: $main-color;
        &:hover {
            background-color: $main-color;
            border-color: $main-color;
            color: #fff;
        }
    }
    &.disabled,
    &:disabled {
        &,
        &:hover {
            cursor: not-allowed;
            background-color: #d8d8d8;
            color: #9b9b9b;
        }
    }
    &:hover {
        background-color: #fff;
        color: $main-color;
    }
}
.f-control {
    appearance: none;
    font: inherit;
    outline: 0;
    border-radius: 0;
    width: 100%;
    border: 1px solid #e1e1e1;
    background-color: #fff;
    padding: 0 30px;
    height: 40px;
    &::placeholder {
        color: #b2bbc5;
    }
    &:disabled {
        cursor: not-allowed;
    }
    &:focus {
        border-color: $main-color;
    }
}
select {
    &.f-control {
        background: #fff url(../images/select.png) right 20px center / 10px no-repeat;
        padding-right: 30px;
    }
}
textarea {
    &.f-control {
        display: block;
        height: 120px;
        padding: 10px 30px;
        max-width: 100%;
    }
}
.custom-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    input {
        display: none;
        &:checked ~ .checkmark {
            background-color: $main-color;
            &::after {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        &::after {
            content: "✔";
            transform: scale(0);
            opacity: 0;
            transition: inherit;
        }
    }
}
.custom-radio {
    display: block;
    cursor: pointer;
    display: flex;
    align-items: center;
    input {
        display: none;
        &:checked ~ .checkmark {
            &::after {
                opacity: 1;
            }
        }
    }
    .checkmark {
        display: block;
        height: 24px;
        width: 24px;
        border: 2px solid #707070;
        background-color: #fff;
        border-radius: 100%;
        margin-right: 5px;
        flex-shrink: 0;
        position: relative;
        &::after {
            content: "";
            width: 14px;
            height: 14px;
            background-color: $main-color;
            border-radius: 100%;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
.scroll-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 998;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: $main-color;
    border: 1px solid $main-color;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px 0 rgba(#000, 0.2);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: 0.2s;
    &.show {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    &:hover {
        background-color: #fff;
        color: $main-color;
    }
    @include max-media(768px) {
        right: 15px;
        bottom: 15px;
    }
}
.main-slider {
    * {
        outline: 0;
    }
    &:not(.slick-initialized) {
        display: flex;
        overflow: hidden;
        margin: 0 -15px;
        .slide-item {
            flex-shrink: 0;
        }
    }
    &.slick-dotted {
        .slick-dots {
            line-height: 0;
            li {
                width: auto;
                height: auto;
                button {
                    padding: 0;
                    width: 8px;
                    height: 8px;
                    border-radius: 100%;
                    background-color: #fff;
                    border: 1px solid $main-color;
                    outline: 0;
                    &::before {
                        display: none;
                    }
                }
                &.slick-active {
                    button {
                        background-color: $main-color;
                    }
                }
            }
        }
    }
    .slick-list {
        margin: 0 -15px;
    }
    .slide-item {
        padding: 0 15px;
    }
    .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &.prev-arrow {
            left: -35px;
        }
        &.next-arrow {
            right: -35px;
        }
    }
    &.arrow-inside {
        .slick-arrow {
            &.prev-arrow {
                left: 35px;
            }
            &.next-arrow {
                right: 35px;
            }
        }
    }
}
.slick-arrow {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: rgba($main-color, 0.1);
    border-radius: 100%;
    border: 0;
    cursor: pointer;
    position: relative;
    z-index: 2;
    &::before{
        content: '';
        border-radius: 100%;
        display: block;
        width: 50px;
        height: 50px;
        background-position: center center;
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $main-color;
    }
    &.prev-arrow {
        &::before{
            background-image: url(../images/arr-left.svg);
        }
    }
    &.next-arrow {
        &::before{
            background-image: url(../images/arr-right.svg);
        }
    }
}
.main-slider-stretch {
    .slick-track {
        display: flex;
        &::before,
        &::after {
            display: none;
        }
    }
    .slide-item {
        height: auto;
        > div {
            height: 100%;
        }
    }
}
.mfp-zoom-in {
    .mfp-content {
        opacity: 0;
        transition: all 0.2s ease-in-out;
        transform: scale(0.8);
    }
    &.mfp-bg {
        opacity: 0;
        transition: all 0.3s ease-out;
    }
    &.mfp-ready {
        .mfp-content {
            opacity: 1;
            transform: scale(1);
        }
        &.mfp-bg {
            opacity: 0.8;
        }
    }
    &.mfp-removing {
        .mfp-content {
            transform: scale(0.8);
            opacity: 0;
        }
        &.mfp-bg {
            opacity: 0;
        }
    }
}
.mfp-content {
    .mfp-close {
        color: $main-color;
        transition: 0.2s;
    }
}
.mfp-bg {
    z-index: 9998;
}
.mfp-wrap {
    z-index: 9999;
}

.lg-outer {
    .lg-thumb-item {
        &:hover,
        &.active {
            border-color: $main-color;
        }
    }
}
.pagination {
    > ul {
        list-style: none;
        > li {
            display: inline-block;
            > .page-numbers {
                display: block;
                border: 0;
                background-color: transparent;
                width: 42px;
                height: 42px;
                text-align: center;
                line-height: 42px;
                font-weight: bold;
                &.current,
                &:hover {
                    color: #fff;
                    background-color: $main-color;
                    border-color: $main-color;
                }
            }
        }
    }
}
.rating-stars {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    .empty-stars,
    .filled-stars {
        text-shadow: none;
        width: 100%;
        white-space: nowrap;
    }
    .empty-stars {
        color: #e1e1e1;
    }
    .filled-stars {
        color: #f39c12;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
    }
}
.social-nav {
    li {
        display: inline-block;
        a {
            display: block;
            width: 25px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            transition: 0.2s;
        }
    }
}
.daterangepicker {
    font-family: inherit;
    z-index: 9999;
    .calendar-table {
        thead {
            text-transform: uppercase;
        }
        td {
            font-size: 13px;
        }
    }
    td.active,
    td.active:hover {
        background-color: $main-color;
    }
}
.sec-border-top {
    border-top: 1px solid #cccccc;
    position: relative;
    &::before {
        content: "";
        width: 1170px;
        max-width: calc(100% - 30px);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -2px;
        border-bottom: 3px solid $main-color;
    }
}
.sec-border-bottom {
    border-top: 1px solid #cccccc;
    position: relative;
    &::before {
        content: "";
        width: 1170px;
        max-width: calc(100% - 30px);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -2px;
        border-bottom: 3px solid $main-color;
    }
}
.sec-bg {
    background-color: #f3f7f8;
}
.sec {
    padding: 90px 0;
    &.pt-0 {
        padding-top: 0;
    }
    &.pb-0 {
        padding-bottom: 0;
    }
    @include max-media(768px) {
        padding: 40px 0;
    }
}
.hl-color {
    color: $main-color;
}
.slider-append-wrapper {
    display: flex;
    align-items: center;
    margin-top: 20px;
    &::before {
        content: "";
        border-bottom: 1px solid #D2D2D2;
        flex: auto;
    }
    .slider-append {
        margin-left: 12px;
        .slick-arrow{
            width: 40px;
            height: 40px;
            &::before{
                width: 24px;
                height: 24px;
                background-size: 14px auto;
            }
            &.next-arrow{
                margin-left: 10px;
            }
        }
    }
}
.fw-600 {
    font-weight: 600;
}
.text-wrapper {
    font-size: 16px;
    line-height: 1.5;
    > :first-child {
        margin-top: 0;
    }
    > :last-child {
        margin-bottom: 0;
    }
    p {
        margin: 15px 0;
    }
}
.main-title-box {
    margin-bottom: 30px;
    .main-title {
        @include fz-36;
        font-weight: bold;
    }
    .main-title-2 {
        @include fz-42;
        font-weight: bold;
    }
    .main-title-3 {
        @include fz-20;
        font-weight: bold;
    }
    .main-title-4 {
        @include fz-48;
        font-weight: bold;
    }
    .sub-title {
        @include fz-18;
        margin-top: 10px;
    }
    @include max-media(768px) {
        margin-bottom: 20px;
    }
}
.breadcrumb-nav {
    li {
        display: inline-block;
        &:first-child {
            &::before {
                display: none;
            }
        }
        &::before {
            content: "/";
            padding: 0 6px 0 4px;
        }
        &:last-child {
            color: #838383;
        }
    }
}
.readmore-btn {
    font-weight: bold;
    display: inline-block;
    color: $main-color;
}
.pagination-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    padding-top: 20px;
    border-top: 1px solid #cccccc;
    .pagination {
        margin: 5px 15px 5px 0;
    }
    @include max-media(768px) {
        margin-top: 15px;
        padding-bottom: 10px;
    }
}
