$main-color: #15677f;
$main-color-2: #011f3f;
$text-color: #011f3f;
@mixin max-media($point) {
    @media screen and (max-width: $point) {
        @content;
    }
}
@mixin min-media($point) {
    @media screen and (min-width: $point) {
        @content;
    }
}
@mixin line-clamp($line, $height: auto) {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $line;
    height: $height;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
@mixin clear-fix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}
@mixin fz-18 {
    font-size: 18px;
}
@mixin fz-20 {
    font-size: 20px;
    line-height: 1.2;
    @include max-media(768px) {
        font-size: 18px;
    }
}
@mixin fz-22 {
    font-size: 22px;
    line-height: 1.2;
    @include max-media(768px) {
        font-size: 20px;
    }
}
@mixin fz-24 {
    font-size: 24px;
    line-height: 1.2;
    @include max-media(768px) {
        font-size: 20px;
    }
}
@mixin fz-25 {
    font-size: 25px;
    line-height: 1.2;
    @include max-media(768px) {
        font-size: 21px;
    }
}
@mixin fz-36 {
    font-size: 36px;
    line-height: 1.2;
    @include max-media(768px) {
        font-size: 28px;
    }
}
@mixin fz-30 {
    font-size: 30px;
    line-height: 1.2;
    @include max-media(768px) {
        font-size: 24px;
    }
}
@mixin fz-42 {
    font-size: 42px;
    line-height: 1.2;
    @include max-media(768px) {
        font-size: 32px;
    }
}
@mixin fz-48 {
    font-size: 48px;
    line-height: 1.2;
    @include max-media(768px) {
        font-size: 34px;
    }
}
