@import url(../fonts/Averta/font.css);
@import url(../js/slick-1.8.1/slick-theme.css);
@import url(../js/slick-1.8.1/slick.css);
@import url(../js/Magnific-Popup-master/magnific-popup.css);
@import url(../js/Font-awesome-4.7.0/css/font-awesome.min.css);
@import url(../js/daterangepicker-master/daterangepicker.css);
@import url(../js/WOW-master/animate.css);
@import "variables";
@import "components";

*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
::selection {
    background-color: $main-color;
    color: #fff;
}
body {
    font-family: "Averta", sans-serif;
    color: $text-color;
    font-size: 14px;
    line-height: 1.4;
}
img,
iframe {
    max-width: 100%;
    border: 0;
    vertical-align: middle;
}
ol,
ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
    color: inherit;
    outline: 0;
    &:hover {
        color: $main-color;
    }
}
.admin-bar {
    .header.fixed {
        top: 32px;
    }
    @include max-media(991px) {
        .main-menu {
            top: 32px;
        }
    }
    @include max-media(768px) {
        .header.fixed {
            top: 46px;
        }
        .main-menu {
            top: 46px;
        }
    }
    @include max-media(600px) {
        .header.fixed {
            top: 0;
            .main-menu {
                top: 0;
            }
        }
    }
}
.main {
    overflow: hidden;
}
@keyframes showMenu {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
.header {
    background-image: url(../images/hd-bg.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding: 25px 0;
    .container {
        width: 1850px;
        padding: 0 15px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &.fixed {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        animation: showMenu 1s forwards;
    }
    @include max-media(991px) {
        padding: 15px 0;
    }
    @include max-media(768px) {
        padding: 10px 0;
        &.fixed {
            .hd-logo {
                display: none;
            }
        }
    }
}
.hd-cate {
    margin-left: 50px;
    @include max-media(991px) {
        margin-left: 0;
        position: fixed;
        top: 0;
        right: 100%;
        width: 100%;
        height: 100vh;
        z-index: 9999;
        transition: 0.4s;
        &.active {
            right: 0;
        }
    }
}
.hd-cate-nav {
    @include fz-18;
    font-weight: bold;
    > li {
        display: inline-block;
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
    }
    @include max-media(991px) {
        font-size: 16px;
        position: absolute;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        background-color: #272727;
        color: #fff;
        z-index: 2;
        padding: 30px 15px 50px;
        overflow: auto;
        li {
            display: block;
            margin-right: 0;
            > a {
                display: block;
                padding: 15px 0;
            }
        }
    }
}
.hd-cate-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.6);
    display: none;
    @include max-media(991px) {
        display: block;
    }
}
.hd-cate-btn {
    display: none;
    @include max-media(991px) {
        display: block;
    }
    @include max-media(768px) {
        order: 2;
    }
}
.hd-right {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    margin-left: auto;
    &-item {
        padding: 0 20px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            height: 14px;
            border-right: 1px solid rgba(#fff, 0.1);
        }
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
            &::after {
                display: none;
            }
        }
    }
    @include max-media(768px) {
        order: 3;
        .hide-mobile {
            display: none;
        }
        &-item {
            padding: 0 10px;
        }
    }
}
.hd-right-nav {
    display: flex;
    align-items: center;
    > li {
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
        > a {
            display: flex;
            align-items: center;
            img {
                margin-right: 5px;
            }
        }
    }
    @include max-media(768px) {
        > li {
            margin-right: 10px;
        }
    }
}
.language-picker {
    position: relative;
    &:hover {
        .sub-menu {
            display: block;
        }
    }
    .current {
        display: flex;
        align-items: center;
        padding: 5px;
        position: relative;
        padding-right: 18px;
        background: url(../images/arrow.png) right 5px center / 6px no-repeat;
        img {
            margin-right: 5px;
            width: 14px;
            height: auto;
        }
    }
    .sub-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        min-width: 100px;
        background-color: #1d1919;
        color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        display: none;
        z-index: 999;
        li {
            a {
                display: flex;
                align-items: center;
                padding: 5px;
                img {
                    margin-right: 5px;
                    width: 14px;
                    height: auto;
                }
            }
        }
    }
}
.hd-logo {
    @include max-media(991px) {
        padding-left: 10px;
        margin-left: 10px;
        border-left: 1px solid rgba(255, 255, 255, 0.1);
    }
    @include max-media(768px) {
        padding-left: 0;
        margin-left: 0;
        border-left: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
}
.custom-logo-link {
    display: inline-block;
    width: 150px;
    vertical-align: middle;
    img {
        display: block;
        width: 100%;
        height: auto;
    }
}
.main-menu {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    transition: 0.4s;
    &.active {
        left: 0;
    }
}
.main-menu-nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 375px;
    max-width: 100%;
    height: 100%;
    background-color: #272727;
    color: #fff;
    z-index: 2;
    padding: 130px 45px;
    overflow: auto;
    @include fz-20;
    font-weight: normal;
    &::-webkit-scrollbar {
        width: 3px;
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
        background: #888;
    }
    a {
        color: inherit;
    }
    li {
        a {
            display: block;
            padding: 15px 0;
        }
    }
    .current-menu-item,
    .current-menu-parrent {
        > a {
            font-weight: bold;
        }
    }
    .dropdown {
        position: relative;
        > a {
            position: relative;
            padding-right: 30px !important;
            > .fa {
                position: absolute;
                top: 0;
                right: 0;
                width: 30px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .sub-menu-wrap {
            display: none;
            padding-left: 30px;
            .sub-menu {
                li {
                    display: block;
                    a {
                        display: block;
                        padding: 10px 0;
                    }
                }
            }
        }
    }
    @include max-media(991px) {
        width: 250px;
        font-size: 16px;
        padding: 30px 15px 50px;
    }
}
.main-menu-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.6);
}
.banner-section {
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding: 0;
    .container {
        min-height: 590px;
        padding: 60px 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .banner-title {
        font-weight: bold;
        @include fz-48;
        margin: auto 0;
    }
    .banner-title-2 {
        font-weight: normal;
        @include fz-30;
        width: 570px;
        max-width: 100%;
        margin: auto 0;
    }
    .banner-sub-title {
        @include fz-18;
        margin-top: 15px;
    }
    .banner-bottom {
        font-size: 16px;
        margin-top: 15px;
        .banner-title,
        .banner-title-2 {
            font-weight: bold;
            margin: 0 0 10px;
        }
    }
    @include max-media(991px) {
        .container {
            min-height: 450px;
        }
    }
    @include max-media(768px) {
        .container {
            min-height: 300px;
        }
    }
}
.main-intro {
    font-size: 16px;
}
.main-section {
    &-left {
        width: 25%;
    }
    &-right {
        width: 75%;
    }
    @include max-media(768px) {
        &-left {
            width: 100%;
            order: 2;
            position: relative;
            padding-top: 30px;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 15px;
                right: 15px;
                border-bottom: 1px solid #e1e1e1;
            }
        }
        &-right {
            width: 100%;
            padding-bottom: 30px;
        }
    }
}
.sidebar {
    @include max-media(768px) {
        position: static !important;
    }
}
.sidebar-nav {
    @include fz-20;
    li {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
        &.active {
            font-weight: bold;
            color: $main-color;
        }
        &.active-2 {
            font-weight: bold;
        }
        &.current {
            font-weight: bold;
            color: $main-color;
        }
    }
    @include max-media(768px) {
        li {
            margin-bottom: 15px;
        }
    }
}
.faqs-wrapper {
    counter-reset: section;
}
.faqs-item {
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0;
    }
    .faqs-title {
        @include fz-20;
        font-weight: bold;
        padding-right: 30px;
        background: url(../images/plus-2.svg);
        background-size: 16px auto;
        background-repeat: no-repeat;
        background-position: right center;
        cursor: pointer;
        position: relative;
        padding-left: 80px;
        &::before {
            counter-increment: section;
            content: counter(section) ".";
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .faqs-content {
        font-size: 16px;
        line-height: 1.5;
        display: none;
        padding-left: 30px;
        padding-top: 15px;
        ul {
            list-style-position: inside;
            list-style-type: disc;
        }
    }
    &.active {
        .faqs-title {
            color: $main-color;
            background-image: url(../images/minus.svg);
        }
    }
    @include max-media(768px) {
        .faqs-title {
            padding-left: 30px;
        }
    }
}
.footer {
    background-color: #1d1919;
    color: #fff;
}
.top-footer {
    color: #a4a3a3;
    font-size: 16px;
    padding: 70px 0 30px;
    border-bottom: 1px solid rgba(#fff, 0.1);
    .ft-menu {
        font-weight: 600;
        li {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .column {
        width: 100%;
        @include min-media(769px) {
            &:nth-child(1),
            &:nth-child(3) {
                width: calc(100% / 12 * 2);
            }
            &:nth-child(2) {
                width: calc(100% / 12 * 3);
            }
            &:nth-child(4) {
                width: calc(100% / 12 * 5);
            }
        }
        @include min-media(501px) {
            width: 50%;
        }
    }
    @include max-media(768px) {
        padding: 30px 0;
        .ft-menu {
            li {
                margin-bottom: 10px;
            }
        }
    }
}
.ft-contact {
    &-link {
        margin-bottom: 20px;
    }
    &-title {
        margin-bottom: 20px;
        font-weight: 600;
        color: #fff;
    }
    @include max-media(768px) {
        &-link {
            margin-bottom: 10px;
        }
        &-title {
            margin-bottom: 10px;
        }
    }
}
.ft-title {
    @include fz-24;
    font-weight: bold;
    color: #fff;
    margin-bottom: 35px;
    @include max-media(768px) {
        margin-bottom: 15px;
    }
}
.bottom-footer {
    padding: 30px 0 55px;
    .ft-menu {
        font-weight: 600;
        color: #cbcbcb;
        > li {
            display: inline-block;
            a {
                display: block;
                padding: 5px 30px 5px 0;
            }
        }
    }
    .social-nav {
        color: #a4a3a3;
    }
    .columns {
        align-items: center;
    }
    .column {
        &:nth-child(1) {
            width: calc(100% / 12 * 2);
        }
        &:nth-child(2) {
            width: calc(100% / 12 * 3);
        }
        &:nth-child(3) {
            width: calc(100% / 12 * 7);
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }
        @include max-media(768px) {
            &:nth-child(1) {
                width: 100%;
            }
            &:nth-child(2) {
                width: 100%;
                order: 3;
            }
            &:nth-child(3) {
                width: 100%;
            }
        }
    }
    @include max-media(768px) {
        padding: 30px 0;
        .ft-menu {
            width: 100%;
            margin-bottom: 5px;
        }
    }
}
.about-direct-section {
    padding: 0;
    > .container {
        width: 1920px;
    }
}
.about-direct-slider-nav {
    border-bottom: 1px solid #e2e2e2;
    margin-right: -1px;
    position: relative;
    z-index: 2;
    .slick-list {
        margin: 0;
        overflow: visible;
    }
    .slide-item {
        padding: 0;
        border-right: 1px solid #e2e2e2;
        &.slick-current {
            .about-direct-link {
                border-bottom-color: $main-color;
            }
        }
    }
    &:not(.slick-initialized) {
        margin: 0;
        .slide-item {
            width: calc(100% / 6);
            @include max-media(991px) {
                width: 25%;
            }
            @include max-media(768px) {
                width: calc(100% / 3);
            }
            @include max-media(500px) {
                width: 50%;
            }
        }
    }
    &.slick-dotted + .about-direct-slider {
        margin-top: 40px;
    }
}
.about-direct-link {
    height: 100%;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    min-height: 150px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    .title {
        font-size: 24px;
        line-height: 1.2;
        font-weight: bold;
        @include line-clamp(1);
    }
    .desc {
        color: #7e7e7e;
        margin-top: 4px;
        min-height: 38px;
        @include line-clamp(2);
    }
    .sub-desc {
        text-align: left;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 20px 10px 10px;
        z-index: 2;
        display: none;
        font-size: 16px;
        border-top: 3px solid $main-color;
        .sub-desc-nav {
            margin-bottom: 20px;
            li {
                margin-bottom: 15px;
                position: relative;
                padding-left: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
                &::before {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    top: 2px;
                    left: 0;
                    width: 20px;
                    height: 20px;
                    flex-shrink: 0;
                    background-image: url(../images/check.svg);
                    background-size: 20px auto;
                    background-repeat: no-repeat;
                    margin-right: 10px;
                }
            }
        }
    }
    &.active {
        // border-bottom-color: $main-color;
    }
    &:hover {
        // border-bottom-color: $main-color;
        .sub-desc {
            display: block;
        }
    }
    @include max-media(991px) {
        min-height: 0;
        .title {
            font-size: 18px;
        }
    }
    @include max-media(768px) {
        &:hover {
            .sub-desc {
                display: none;
            }
        }
    }
}
.about-direct-slider {
    .slick-list {
        margin: 0;
    }
    .slide-item {
        padding: 0;
    }
    &:not(.slick-initialized) {
        margin: 0;
        .slide-item {
            width: 100%;
        }
    }
}
.about-direct-banner {
    padding: 400px 0 50px;
    background-size: cover;
    background-position: center center;
    color: #fff;
    &-title {
        @include fz-36;
        font-weight: bold;
        margin-bottom: 10px;
    }
    &-nav {
        @include fz-24;
        li {
            margin-bottom: 5px;
            position: relative;
            padding-left: 30px;
            &:last-child {
                margin-bottom: 0;
            }
            &::before {
                content: "";
                display: inline-block;
                position: absolute;
                top: 4px;
                left: 0;
                width: 20px;
                height: 20px;
                flex-shrink: 0;
                background-image: url(../images/check-2.svg);
                background-size: 20px auto;
                background-repeat: no-repeat;
                margin-right: 10px;
            }
        }
    }
    @include max-media(991px) {
        padding: 300px 0 50px;
    }
    @include max-media(768px) {
        padding: 150px 0 40px;
    }
}
.about-section {
    padding: 50px 0 85px;
    .text-wrapper {
        margin-bottom: 45px;
        @include max-media(768px) {
            margin-bottom: 30px;
        }
    }
    @include max-media(768px) {
        padding: 40px 0;
        .text-wrapper {
            margin-bottom: 30px;
        }
    }
}
.about-wrapper {
    .column {
        width: calc(100% / 3);
    }
    @include max-media(768px) {
        .column {
            width: 50%;
        }
    }
    @include max-media(320px) {
        .column {
            width: 100%;
        }
    }
}
.about-item {
    .about-img {
        margin-bottom: 15px;
        &:hover {
            opacity: 0.85;
        }
        .ratio-box {
            padding-top: 63%;
        }
    }
    .about-info {
        text-align: center;
        .about-title {
            @include fz-20;
            font-weight: bold;
            margin-bottom: 12px;
        }
        .about-desc {
            font-size: 16px;
        }
    }
    @include max-media(768px) {
        .about-img {
            margin-bottom: 10px;
        }
        .about-info {
            .about-title {
                margin-bottom: 8px;
            }
        }
    }
}
.intro-section {
    padding: 0;
    .intro-img {
        width: 1920px;
        max-width: 100%;
        img {
            width: 100%;
            height: auto;
        }
    }
    .intro-content {
        padding: 80px 0;
        .container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        .main-title-box {
            width: calc(100% / 12 * 5);
            text-align: right;
            padding: 15px 70px 15px 0;
            margin-bottom: 0;
        }
        .text-wrapper {
            width: calc(100% / 12 * 7);
            padding: 25px 0 25px 30px;
            border-left: 1px solid #cccccc;
        }
    }
    .intro-content-2 {
        padding: 80px 0;
        .text-wrapper {
            column-count: 2;
            column-gap: 30px;
        }
    }
    @include max-media(768px) {
        .intro-content {
            padding: 30px 0;
            .main-title-box {
                width: 100%;
                text-align: left;
                padding: 0 0 15px;
            }
            .text-wrapper {
                width: 100%;
                padding: 15px 0 0;
                border-top: 1px solid #cccccc;
                border-left: 0;
            }
        }
        .intro-content-2 {
            padding: 30px 0;
            .text-wrapper {
                column-count: initial;
            }
        }
    }
}
.figures-section {
    color: #fff;
    background-size: cover;
    background-position: center center;
    padding: 90px 0 110px;
    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .main-title-box {
        width: 25%;
        padding-right: 30px;
        margin-bottom: 0;
    }
    @include max-media(768px) {
        padding: 40px 0;
        .main-title-box {
            width: 100%;
            padding-right: 0;
            margin-bottom: 30px;
        }
    }
}
.figures-wrapper {
    width: 75%;
    .column {
        width: calc(100% / 3);
    }
    @include max-media(768px) {
        width: 100%;
    }
    @include max-media(500px) {
        .column {
            width: 50%;
        }
    }
}
.figures-item {
    font-size: 16px;
    font-weight: bold;
    .number {
        @include fz-36;
        font-weight: bold;
        margin-bottom: 10px;
        > span {
            @include fz-18;
        }
    }
}
.services-section {
    position: relative;
    z-index: 2;
    .main-title-box {
        margin-bottom: 15px;
    }
}
.services-slider {
    &:not(.slick-initialized) {
        .slide-item {
            width: 25%;
            @include max-media(768px) {
                width: 50%;
            }
            @include max-media(500px) {
                width: 100%;
            }
        }
    }
}
.services-item {
    .services-title {
        @include fz-25;
        font-weight: bold;
        margin-bottom: 15px;
        min-height: 90px;
    }
    .services-nav {
        list-style-type: none;
        font-size: 16px;
        li {
            margin-bottom: 10px;
            a {
                border: 1.2px dashed #699dad;
                display: block;
                padding: 15px 15px 15px 38px;
                background-image: url(../images/plus-2.svg);
                background-position: left 15px center;
                background-repeat: no-repeat;
            }
            &.active,
            &:hover {
                a {
                    border-color: transparent;
                    background-color: $main-color;
                    color: #fff;
                    background-image: url(../images/plus-2-white.svg);
                    box-shadow: 10px 10px 30px 0 rgba(#000, 0.16);
                }
            }
        }
    }
    @include max-media(768px) {
        .services-title {
            @include fz-25;
            font-weight: bold;
            margin-bottom: 15px;
            min-height: 0;
        }
    }
}
.why-choose-us-section {
    background-color: #f3f7f8;
    padding: 115px 0;
    position: relative;
    .container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .why-choose-us-content {
        width: 45%;
    }
    .why-choose-us-img {
        width: 1360px;
        position: absolute;
        left: 960px;
        top: -30%;
        &::before {
            content: "";
            position: absolute;
            top: -130px;
            left: 50%;
            width: 100%;
            height: 100%;
            transform: translateX(-50%);
            background-color: #e7eff2;
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        }
        .ratio-box {
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    @include max-media(991px) {
        padding: 60px 0;
        .why-choose-us-content {
            width: 100%;
        }
        .why-choose-us-img {
            display: none;
        }
    }
    @include max-media(768px) {
        padding: 40px 0;
    }
}
.reasons-wrapper {
    counter-reset: order;
    .column {
        width: 50%;
    }
    @include max-media(320px) {
        .column {
            width: 100%;
        }
    }
}
.reasons-item {
    &::before {
        counter-increment: order;
        content: counter(order) ".";
        @include fz-30;
        color: $main-color;
        font-weight: bold;
    }
}
.level-section {
    padding: 90px 0 120px;
    background-color: $main-color;
    color: #fff;
    @include max-media(768px) {
        padding: 40px 0;
    }
}
.solutions-section {
    padding: 115px 0 190px;
    .solutions-content {
        width: 75%;
        > .text-wrapper {
            margin-bottom: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid #e2e2e2;
        }
    }
    @include max-media(991px) {
        padding: 60px 0;
        .solutions-content {
            width: 100%;
        }
    }
    @include max-media(768px) {
        padding: 40px 0;
        .solutions-content {
            > .text-wrapper {
                margin-bottom: 15px;
                padding-bottom: 15px;
            }
        }
    }
}
.plan-wrapper {
    .column {
        width: calc(100% / 3);
    }
    @include max-media(768px) {
        .column {
            width: 50%;
        }
    }
    @include max-media(320px) {
        .column {
            width: 100%;
        }
    }
}
.case-study-slider-wrapper {
    .container {
        width: 1750px;
    }
}
.case-study-slider {
    .slide-item {
        padding: 15px;
    }
    .slick-list {
        margin: -15px;
    }
    &.slick-dotted {
        margin-bottom: 25px;
        .slick-dots {
            bottom: -20px;
        }
    }
    &:not(.slick-initialized) {
        margin: -15px;
        .slide-item {
            width: calc(100% / 6);
            @include max-media(991px) {
                width: 25%;
            }
            @include max-media(768px) {
                width: calc(100% / 3);
            }
            @include max-media(500px) {
                width: 50%;
            }
            @include max-media(375px) {
                width: 100%;
            }
        }
    }
}
.case-study-item {
    background-color: #fff;
    padding: 10px;
    .case-study-img {
        .ratio-box {
            padding-top: 69%;
        }
        &:hover {
            opacity: 0.85;
        }
    }
    .case-study-info {
        padding: 20px 10px;
        .rating-stars {
            margin-bottom: 10px;
        }
        .case-study-title {
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: normal;
        }
        .learn-more-btn {
            font-size: 12px;
        }
    }
    .case-study-nav {
        margin-bottom: 15px;
        li {
            margin-bottom: 5px;
            padding-left: 20px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 3px;
                left: 0;
                width: 14px;
                height: 14px;
                background-image: url(../images/check.svg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
    }
    &:hover {
        box-shadow: 5px 5px 12px 0 rgba(0, 0, 0, 0.16);
    }
    @include max-media(375px) {
        box-shadow: 5px 5px 12px 0 rgba(0, 0, 0, 0.16);
    }
}
.learn-more-btn {
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    color: $main-color;
    &::after {
        content: "";
        margin-left: 10px;
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url(../images/button-arrow.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
    &.fz-16 {
        font-size: 16px;
    }
}
.w-banner-section {
    padding: 0;
    position: relative;
    z-index: 3;
    color: #fff;
}
.w-banner-slider {
    .slick-list {
        margin: 0;
    }
    .slide-item {
        padding: 0;
    }
    &:not(.slick-initialized) {
        margin: 0;
        .slide-item {
            width: 100%;
        }
    }
}
.w-banner-item {
    padding: 130px 0 330px;
    background-size: cover;
    background-position: center center;
    text-align: center;
    .w-banner-title {
        @include fz-48;
        font-weight: bold;
    }
    @include max-media(768px) {
        padding: 80px 0 220px;
    }
}
.w-banner-slider-nav {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1170px;
    max-width: 100%;
    background-color: rgba(#000, 0.8);
    .title {
        padding: 25px 45px;
        cursor: pointer;
    }
    .slick-list {
        margin: 0;
    }
    .slide-item {
        padding: 0;
        &.slick-current {
            .title {
                background-color: $main-color;
                color: #fff;
                @include fz-20;
                font-weight: bold;
            }
        }
    }
    .slick-arrow {
        top: unset;
        transform: translateY(50%);
        bottom: 0;
        width: 28px;
        height: 28px;
        background-size: 14px;
        background-color: transparent;
        &::before {
            width: 100%;
            height: 100%;
            background-size: 14px auto;
        }
        &.prev-arrow {
            right: 30px;
            left: unset;
        }
        &.next-arrow {
            right: 0;
        }
    }
    &:not(.slick-initialized) {
        margin: 0;
        .slide-item {
            width: 25%;
            @include max-media(768px) {
                width: calc(100% / 3);
            }
            @include max-media(500px) {
                width: 50%;
            }
        }
    }
    @include max-media(768px) {
        .title {
            padding: 15px 20px;
        }
    }
}

.map-banner-section {
    padding: 0;
    iframe {
        display: block;
        width: 100%;
        height: 590px;
    }
    @include max-media(991px) {
        iframe {
            height: 300px;
        }
    }
    @include max-media(768px) {
        iframe {
            height: 200px;
        }
    }
}
.contact-section {
    font-size: 16px;
    padding: 60px 0 120px;
    .main-title-box {
        padding-left: 40px;
    }
    @include max-media(991px) {
        .main-title-box {
            padding-left: 20px;
        }
    }
    @include max-media(768px) {
        padding: 40px 0 60px;
        .main-title-box {
            padding-left: 0;
        }
    }
}
.contact-wrapper {
    .contact-left {
        width: calc(100% / 12 * 4);
    }
    .contact-right {
        width: calc(100% / 12 * 8);
    }
    @include max-media(768px) {
        .contact-left {
            width: 100%;
        }
        .contact-right {
            width: 100%;
        }
    }
}
.contact-info-wrapper {
    padding: 0 40px;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    .contact-info-item {
        margin-bottom: 25px;
        &:last-child {
            margin-bottom: 0;
        }
        .title {
            font-weight: bold;
            color: $main-color;
            margin-bottom: 2px;
        }
    }
    @include max-media(991px) {
        padding: 0 20px;
    }
    @include max-media(768px) {
        padding: 0;
        border: 0;
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
        .contact-info-item {
            padding: 15px;
            margin: 0;
            width: 50%;
            .title {
                font-weight: bold;
                color: $main-color;
                margin-bottom: 2px;
            }
        }
    }
    @include max-media(500px) {
        display: block;
        margin: 0;
        .contact-info-item {
            padding: 0;
            width: 100%;
            padding: 0;
            margin-bottom: 25px;
        }
    }
}
.contact-form-wrapper {
    > .title {
        font-weight: bold;
        color: $main-color;
        margin-bottom: 2px;
    }
    > .text-wrapper {
        margin-bottom: 20px;
    }
}
.contact-form {
    .f-group {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
        > label {
            width: 170px;
            padding-right: 15px;
            font-weight: bold;
            padding-top: 9px;
            display: inline-block;
            > span {
                color: #c90202;
            }
        }
        > .f-control {
            width: calc(100% - 170px);
        }
        > .main-btn {
            margin-left: auto;
        }
    }
    @include max-media(500px) {
        .f-group {
            > label {
                width: 100%;
                padding: 0;
                margin-bottom: 5px;
            }
            > .f-control {
                width: 100%;
            }
            > .main-btn {
                margin-left: 0;
            }
        }
    }
}

.news-section {
    font-size: 16px;
    padding: 65px 0 100px;
    @include max-media(768px) {
        padding: 40px 0;
    }
}
.news-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #cccccc;
    &:last-child {
        padding-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
    }
    .news-img {
        width: 270px;
        &:hover {
            opacity: 0.85;
        }
        .ratio-box {
            padding-top: 67%;
        }
    }
    .news-info {
        width: calc(100% - 270px);
        padding-left: 30px;
        .news-title {
            @include fz-24;
            @include line-clamp(1);
            font-weight: bold;
            margin-bottom: 3px;
        }
        .news-desc {
            margin-top: 15px;
            @include line-clamp(2);
        }
        .readmore-btn {
            margin-top: 15px;
        }
    }
    @include max-media(768px) {
        margin-bottom: 15px;
        padding-bottom: 15px;
        .news-img {
            width: 200px;
        }
        .news-info {
            width: calc(100% - 200px);
            padding-left: 15px;
            .news-desc {
                margin-top: 10px;
            }
            .readmore-btn {
                margin-top: 10px;
            }
        }
    }
    @include max-media(500px) {
        .news-img {
            width: 100%;
            margin-bottom: 10px;
        }
        .news-info {
            padding-left: 0;
            width: 100%;
            .news-title {
                -webkit-line-clamp: 3;
            }
            .news-desc {
                margin-top: 5px;
            }
            .readmore-btn {
                margin-top: 5px;
            }
        }
    }
}
.news-detail-comment {
    .main-title-box {
        .main-title {
            > span {
                @include fz-18;
                color: $main-color;
                font-weight: normal;
            }
        }
    }
}
.comment-form {
    position: relative;
    margin-bottom: 30px;
    .f-control {
        height: 45px;
        padding: 0 25px;
        padding-right: 100px;
    }
    .main-btn {
        background: none;
        position: absolute;
        top: 0;
        right: 0;
        height: 45px;
        border: 0;
        padding: 0 25px;
        width: auto;
        line-height: 45px;
        color: $main-color-2;
        font-size: 14px;
    }
}
.comment-item {
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
    .comment-reply-list {
        padding-left: 35px;
        border-left: 1.2px dashed #d5d5d5;
        margin: 25px 0 15px 35px;
        @include max-media(768px) {
            margin: 25px 0 15px 20px;
            padding-left: 20px;
        }
    }
    .comment-author {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .info {
            width: calc(100% - 40px);
            padding-left: 10px;
            .name {
                font-weight: bold;
            }
            .time {
                font-size: 12px;
            }
        }
    }
    .comment-content {
        margin-bottom: 20px;
    }
    .comment-like-reply {
        font-weight: bold;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        > a {
            display: inline-block;
            padding-right: 30px;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: 13px;
                width: 4px;
                height: 4px;
                border-radius: 100%;
                background-color: #d5d5d5;
            }
            &:last-child {
                &::after {
                    display: none;
                }
            }
        }
        .like {
            .counter {
                margin-left: 5px;
                display: inline-block;
            }
            &.active {
                color: $main-color;
            }
        }
        .comment-form {
            width: 100%;
            margin-top: 15px;
            font-weight: normal;
        }
    }
}
.news-detail-content {
    margin-bottom: 75px;
    > .intro {
        font-weight: bold;
        @include fz-18;
        margin-bottom: 65px;
    }
    > .full-img {
        margin-bottom: 25px;
    }
    @include max-media(768px) {
        margin-bottom: 40px;
        > .intro {
            margin-bottom: 15px;
        }
        > .full-img {
            margin-bottom: 15px;
        }
    }
}
.mona-content-wrapper {
    .left {
        width: calc(100% / 12 * 8);
    }
    .right {
        width: calc(100% / 12 * 4);
    }
    .mona-content-quote {
        background-color: #f3f7f8;
        padding: 50px;
        @include fz-18;
        color: $main-color;
        margin-top: 15px;
        &::before {
            content: "\f10d";
            font-size: 50px;
            margin-bottom: 35px;
            display: block;
            font-family: FontAweSome;
            color: #c5d9df;
            line-height: 1;
        }
    }
    @include max-media(768px) {
        .left {
            width: 100%;
        }
        .right {
            width: 100%;
        }
        .mona-content-quote {
            margin-top: 0;
            padding: 30px;
            &::before {
                font-size: 38px;
                margin-bottom: 20px;
            }
        }
    }
}
.news-detail-share {
    margin-top: 55px;
    padding-top: 5px;
    border-top: 1px solid #cccccc;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    > .title {
        font-weight: bold;
        margin-right: 25px;
    }
    > .nav {
        li {
            display: inline-block;
            margin: 5px 6px 5px 0;
            a {
                display: block;
            }
        }
    }
    @include max-media(768px) {
        margin-top: 30px;
    }
}
.overview-section {
    background-image: url(../images/overview.png);
    background-size: auto;
    background-position: right top;
    background-repeat: no-repeat;
    padding: 50px 0;
    .columns {
        align-items: center;
    }
    &-left {
        width: 50%;
    }
    &-right {
        width: 50%;
        img {
            float: left;
            max-width: none;
        }
    }
    .text-wrapper {
        margin-bottom: 30px;
    }
    @include max-media(768px) {
        padding: 40px 0;
        &-left {
            width: 100%;
            order: 2;
        }
        &-right {
            width: 100%;
            img {
                float: none;
                max-width: 100%;
            }
        }
        .text-wrapper {
            margin-bottom: 20px;
        }
    }
}
.overview-wrapper {
    .columns {
        align-items: initial;
    }
    .column {
        width: 50%;
    }
}
.overview-item {
    .overview-icon {
        margin-bottom: 20px;
        img {
            height: 50px;
            width: auto;
        }
    }
    .overview-title {
        font-size: 16px;
        font-weight: bold;
    }
    @include max-media(768px) {
        .overview-icon {
            margin-bottom: 10px;
        }
    }
}
.start-your-journey-section {
    padding: 30px 0;
    background-color: $main-color;
    color: #fff;
    text-align: center;
    .learn-more-btn {
        @include fz-18;
        color: inherit;
        &::after {
            content: "";
            margin-left: 15px;
            background-image: url(../images/button-arrow-white.svg);
        }
    }
}

.course-wrapper {
    .column {
        width: calc(100% / 3);
        @include max-media(500px) {
            width: 50%;
        }
        @include max-media(320px) {
            width: 100%;
        }
    }
}
.course-item {
    .course-img {
        margin-bottom: 15px;
        &:hover {
            opacity: 0.85;
        }
        .ratio-box {
            padding-top: 65%;
        }
    }
    .course-info {
        text-align: center;
        .course-title {
            @include fz-18;
            font-weight: bold;
        }
    }
    @include max-media(768px) {
        .course-img {
            margin-bottom: 10px;
        }
        .course-info {
            .course-title {
                font-size: 16px;
            }
        }
    }
}
.course-search-form {
    position: relative;
    width: 270px;
    .f-control {
        padding: 0 15px;
        padding-right: 50px;
    }
    .main-btn {
        background: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        text-align: center;
        line-height: initial;
        border: 0;
        padding: 0;
    }
}
.course-search-wrapper {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    > .main-btn {
        width: 170px;
        margin: 5px 0 5px 30px;
    }
}
.open-position-section {
    padding: 75px 0;
    @include max-media(768px) {
        padding: 40px 0;
    }
}
.open-position-search-form {
    position: relative;
    width: 600px;
    max-width: 100%;
    margin-bottom: 35px;
    .f-control {
        padding: 0 15px;
        padding-left: 45px;
    }
    .main-btn {
        background: none;
        position: absolute;
        top: 0;
        left: 5px;
        width: 40px;
        height: 40px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        text-align: center;
        line-height: initial;
        border: 0;
        padding: 0;
    }
}
.open-postion-item {
    padding: 20px 0;
    border-bottom: 1px solid #cccccc;
    display: flex;
    flex-wrap: wrap;
    padding-left: 25px;
    position: relative;
    background-image: url(../images/plus-2.svg);
    background-repeat: no-repeat;
    background-position: left top 26px;
    &:first-child {
        padding-top: 0;
        background-position: left top 6px;
    }
    &:last-child {
        padding-bottom: 0;
        border-bottom: 0;
    }
    .path {
        padding: 5px;
        padding-right: 30px;
        &:last-child {
            padding-right: 0;
        }
        &-title {
            color: #666666;
            font-size: 12px;
        }
        &-content {
            font-weight: bold;
            h3 {
                @include fz-18;
                font-weight: bold;
                color: $main-color;
            }
        }
        &.id {
            width: 30%;
        }
        &.location {
            width: 30%;
        }
        &.category {
            width: 14%;
        }
        &.posted {
            width: 14%;
        }
        &.btn {
            width: 12%;
            text-align: right;
            .main-btn {
                font-size: 12px;
                font-weight: bold;
                width: auto;
                padding: 6px 20px;
                border-radius: 30px;
            }
        }
    }
    @include max-media(768px) {
        .path {
            &.id {
                width: 40%;
            }
            &.location {
                width: 40%;
            }
            &.category {
                width: 40%;
            }
            &.posted {
                width: 40%;
            }
            &.btn {
                width: 20%;
            }
        }
    }
    @include max-media(500px) {
        .path {
            &.id {
                width: 100%;
            }
            &.location {
                width: 100%;
            }
            &.category {
                width: 100%;
            }
            &.posted {
                width: 100%;
            }
            &.btn {
                width: 100%;
                text-align: left;
            }
        }
    }
}

.faqs-container {
    margin-bottom: 35px;
    &:last-child {
        margin-bottom: 0;
    }
    &-title {
        @include fz-20;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .faqs-item {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
        .faqs-title {
            display: flex;
            align-items: center;
            padding-left: 0;
            background-size: 22px auto;
            &::before {
                display: none;
            }
            &::after {
                content: "";
                flex-grow: 1;
                border-bottom: 1px solid $main-color;
            }
            span {
                display: block;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                background-color: $main-color;
                color: #fff;
                text-align: center;
                line-height: 40px;
                font-size: 14px;
            }
        }
    }
}
.position-detail-section {
    .position-detail-title {
        margin-bottom: 15px;
        @include fz-48;
        font-weight: bold;
    }
    .position-detail-contact {
        line-height: 1.7;
    }
}
.position-detail-top {
    padding-bottom: 30px;
    margin-bottom: 25px;
    border-bottom: 1px solid #cccccc;
    @include max-media(768px) {
        padding-bottom: 15px;
        margin-bottom: 10px;
    }
}
.position-detail-description {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    .description-title {
        font-weight: bold;
        margin: 5px 30px 5px 0;
        .title {
            color: $main-color;
            @include fz-18;
        }
    }
}
.back-btn {
    margin-bottom: 20px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    color: $main-color;
    &::before {
        content: "";
        margin-right: 10px;
        display: inline-block;
        width: 16px;
        height: 16px;
        background-image: url(../images/plus.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
}
.main-popup {
    background: #fff;
    padding: 0;
    max-width: 1170px;
    margin: 40px auto;
    position: relative;
    font-size: 16px;
    .text-wrapper {
        font-size: inherit;
    }
    &-header {
        background-image: url(../images/hd-bg.jpg);
        color: #fff;
        padding: 30px 50px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .logo {
            margin: 5px 50px 5px 0;
        }
        .title {
            @include fz-18;
            font-weight: bold;
        }
    }
    @include max-media(768px) {
        &-header {
            padding: 15px 30px;
            .logo {
                margin: 5px 30px 5px 0;
            }
        }
    }
}
.course-detail-intro {
    display: flex;
    flex-wrap: wrap;
    background-color: #f3f7f8;
    .box-img {
        width: 50%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .box-content {
        width: 50%;
        padding: 55px 30px;
        .text-wrapper {
            margin-bottom: 35px;
        }
    }
    @include max-media(500px) {
        .box-img {
            width: 100%;
        }
        .box-content {
            width: 100%;
            padding: 20px 15px;
            .text-wrapper {
                margin-bottom: 10px;
            }
        }
    }
}
.course-detail-info {
    padding: 30px 40px;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    .info-item {
        width: calc(100% / 3);
        border-bottom: 1px solid #e2e2e2;
        border-right: 1px solid #e2e2e2;
        &:nth-child(3n + 3) {
            border-right: 0;
        }
        &:nth-last-child(3),
        &:nth-last-child(2),
        &:nth-last-child(1) {
            border-bottom: 0;
        }
        .info-title {
            @include fz-18;
            font-weight: bold;
            padding: 20px 30px;
            border-bottom: 1px solid #e2e2e2;
        }
        .info-content {
            padding: 20px 30px;
            .schedule-wrapper {
                .custom-radio {
                    .checkmark {
                        height: 16px;
                        width: 16px;
                        margin-right: 15px;
                        &::after {
                            width: 8px;
                            height: 8px;
                        }
                    }
                    .schedule-content {
                        display: flex;
                        align-items: center;
                        .schedule-title {
                            margin-right: 15px;
                            font-weight: bold;
                        }
                        .schedule-date {
                            font-size: 14px;
                            display: flex;
                            flex-wrap: wrap;
                            span {
                                padding: 6px 12px;
                                display: inline-block;
                                background-color: #e9eff1;
                                margin: 5px;
                                min-width: 82px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
            .price-wrapper {
                .price {
                    @include fz-18;
                    font-weight: bold;
                    color: $main-color;
                }
                .per {
                    font-size: 12px;
                }
            }
        }
    }
    @include max-media(768px) {
        padding: 10px;
        .info-item {
            .info-title {
                padding: 15px;
            }
            .info-content {
                padding: 15px;
            }
        }
    }
    @include max-media(500px) {
        .info-item {
            width: 50%;
            &:nth-child(3n + 3) {
                border-right: 1px solid #e2e2e2;
            }
            &:nth-child(2n + 2) {
                border-right: 0;
            }
            &:nth-last-child(3) {
                border-bottom: 1px solid #e2e2e2;
            }
        }
    }
    @include max-media(375px) {
        .info-item {
            width: 100%;
            border-right: 0;
            &:nth-child(3n + 3) {
                border-right: 0;
            }
            &:nth-last-child(2) {
                border-bottom: 1px solid #e2e2e2;
            }
        }
    }
}
.success-wrapper {
    text-align: center;
    padding: 40px 15px;
    .success-title {
        @include fz-22;
        margin-bottom: 25px;
        font-weight: bold;
        color: $main-color;
    }
    .success-sub-title {
        .link {
            font-weight: bold;
            color: $main-color;
            text-decoration: underline;
        }
    }
    @include max-media(768px) {
        padding: 30px 15px;
        .success-title {
            margin-bottom: 10px;
        }
    }
}
.payment-method-wrapper {
    padding: 50px 70px;
    .payment-method-title {
        @include fz-18;
        font-weight: bold;
    }
    @include max-media(768px) {
        padding: 30px 15px;
    }
}
.payment-method-list {
    .payment-method-item {
        border-bottom: 1px solid #e2e2e2;
        .custom-radio {
            display: flex;
            align-items: center;
            padding: 10px 0;
            min-height: 75px;
            .text-box {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                > .title {
                    margin-right: 35px;
                }
                > .visa-nav {
                    display: flex;
                    flex-wrap: wrap;
                    li {
                        margin: 5px 10px 5px 0;
                    }
                }
            }
        }
        &:last-child {
            border-bottom: 0;
        }
    }
}
.training-registration-wrapper {
    padding: 40px 70px;
    .f-group-wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }

        .f-group-title {
            font-weight: bold;
            display: block;
            width: 22%;
            padding-right: 15px;
            > span {
                color: #c90202;
            }
        }
        .f-group-content {
            width: 78%;
            > span {
                color: #c90202;
            }
            .f-control {
                padding: 0 20px;
            }
            textarea.f-control {
                padding: 10px 20px;
                height: 100px;
            }
        }
        &.f-group-gender {
            .f-group-content {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                .f-group {
                    width: 170px;
                    margin: 5px 30px 5px 0;
                }
            }
        }
        &.f-group-participants {
            .f-group-title {
                width: 100%;
                margin-bottom: 10px;
            }
            .f-group-content {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                margin: -2.5px;
                .f-group {
                    padding: 2.5px;
                    &.w-15 {
                        width: 15%;
                    }
                    &.w-25 {
                        width: 25%;
                    }
                    &.w-35 {
                        width: 35%;
                    }
                }
            }
        }
        &.f-group-request {
            justify-content: space-between;
            .request-title {
                font-weight: bold;
                color: $main-color;
            }
            .request-btn-box {
                .main-btn {
                    width: 170px;
                    margin: 5px 10px 5px 0;
                }
            }
        }
        &.f-group-quality {
            .f-group-content {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                .f-control {
                    width: 170px;
                    margin-right: 100px;
                }
            }
        }
        &.f-group-vat {
            .f-group-content {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                .f-control {
                    width: 170px;
                    flex-shrink: 0;
                    margin-right: 12px;
                }
            }
        }
        &.f-group-txt {
            font-size: 14px;
            display: block;
        }
        &.f-group-amount {
            .f-group-content {
                .f-control {
                    width: 370px;
                    max-width: 100%;
                }
            }
        }
        &.f-group-reference {
            .f-group-content {
                display: flex;
                flex-wrap: wrap;
                .f-group {
                    width: 50%;
                    padding-right: 30px;
                    display: flex;
                    align-items: center;
                    > p {
                        padding-right: 20px;
                    }
                    > .f-control {
                        width: 170px;
                    }
                }
            }
        }
        &.f-group-calendar {
            .f-group-content {
                .f-control {
                    padding-right: 50px;
                    background-image: url(../images/calendar.svg);
                    background-position: right 10px center;
                    background-repeat: no-repeat;
                }
            }
        }
        &.f-group-attachment {
            .f-group-content {
                .f-control {
                    padding-right: 50px;
                    background-image: url(../images/attachment.svg);
                    background-position: right 10px center;
                    background-repeat: no-repeat;
                    &::-webkit-file-upload-button {
                        display: none;
                    }
                    &::before {
                        content: "Select some files";
                        line-height: 40px;
                    }
                }
            }
        }
    }
    @include max-media(768px) {
        padding: 30px 15px;
    }
    @include max-media(500px) {
        .f-group-wrapper {
            .f-group-title {
                width: 100%;
                margin-bottom: 10px;
                padding-right: 0;
            }
            .f-group-content {
                width: 100%;
            }
            &.f-group-participants {
                .f-group-content {
                    .f-group {
                        &.w-15 {
                            width: 50%;
                        }
                        &.w-25 {
                            width: 50%;
                        }
                        &.w-35 {
                            width: 50%;
                        }
                    }
                }
            }
            &.f-group-quality {
                .f-group-content {
                    .f-control {
                        width: 100%;
                        margin-right: 0;
                        margin-bottom: 5px;
                    }
                }
            }
            &.f-group-vat {
                .f-group-content {
                    .f-control {
                        width: 100%;
                        margin-right: 0;
                        margin-bottom: 5px;
                    }
                }
            }
            &.f-group-reference {
                .f-group-content {
                    .f-group {
                        width: 100%;
                        flex-wrap: wrap;
                        padding-right: 0;
                        margin-bottom: 10px;
                        > p {
                            width: 30%;
                        }
                        > .f-control {
                            width: 70%;
                        }
                    }
                }
            }
        }
    }
    @include max-media(320px) {
        .f-group-wrapper {
            &.f-group-participants {
                .f-group-content {
                    .f-group {
                        &.w-15 {
                            width: 100%;
                        }
                        &.w-25 {
                            width: 100%;
                        }
                        &.w-35 {
                            width: 100%;
                        }
                    }
                }
            }
            &.f-group-reference {
                .f-group-content {
                    .f-group {
                        > p {
                            width: 100%;
                            margin-bottom: 5px;
                        }
                        > .f-control {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
.draft-invoice-wrapper {
    padding: 50px 70px;
    .draft-invoice-info {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
        .info-item {
            width: 40%;
            padding: 0 30px 15px 0;
            &:last-child {
                width: 20%;
            }
        }
    }
    .draft-invoice-table {
        margin-bottom: 30px;
        overflow-x: auto;
        table {
            min-width: 1030px;
            width: 100%;
            border-collapse: collapse;
            tbody {
                tr {
                    border-top: 1px solid #dadada;
                }
            }
            th,
            td {
                padding: 10px 30px;
                border-right: 1px solid #dadada;
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                    border-right: 0;
                }
                &:nth-last-child(1),
                &:nth-last-child(2),
                &:nth-last-child(3) {
                    text-align: right;
                }
                &:nth-child(1),
                &:nth-child(3) {
                    width: 4%;
                }
                &:nth-child(4),
                &:nth-child(5) {
                    width: 22%;
                }
                &:nth-child(2) {
                    width: 50%;
                }
            }
        }
    }
    @include max-media(768px) {
        padding: 30px 15px;
        .draft-invoice-info {
            margin-bottom: 15px;
        }
        .draft-invoice-table {
            margin-bottom: 15px;
        }
    }
    @include max-media(500px) {
        padding: 30px 15px;
        .draft-invoice-info {
            .info-item {
                width: 100%;
                &:last-child {
                    width: 100%;
                }
            }
        }
        .draft-invoice-table {
            margin-bottom: 15px;
        }
    }
}
.main-popup-btn-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    > .title {
        font-weight: bold;
        color: $main-color;
        margin-right: 30px;
    }
    > .btn-box {
        .main-btn {
            width: 170px;
            margin: 5px 6px 5px 0;
        }
    }
}
.testimonials-slider {
    .slick-list {
        overflow: visible;
    }
    &:not(.slick-initialized) {
        .slide-item {
            width: calc(100% / 3);
            @include max-media(768px) {
                width: 50%;
            }
            @include max-media(500px) {
                width: 100%;
            }
        }
    }
}
.testimonials-item {
    font-size: 16px;
    .testimonials-img {
        margin-bottom: 20px;
        &:hover {
            opacity: 0.85;
        }
        .ratio-box {
            padding-top: 57%;
        }
    }
    .testimonials-content {
        margin-bottom: 15px;
    }
    .testimonials-author {
        display: flex;
        flex-wrap: wrap;
        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .info {
            width: calc(100% - 40px);
            padding-left: 10px;
            .name {
                font-weight: bold;
            }
        }
    }
}
.key-insights-section {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #f3f7f8;
    .key-insights-title {
        width: 200px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 30px;
        background-color: #272727;
        color: #fff;
        font-weight: bold;
    }
    .key-insights-slider {
        width: calc(100% - 200px);
        display: flex;
        align-items: center;
        font-size: 16px;
        height: 50px;
        .slick-list {
            margin: 0;
        }
        .slide-item {
            padding: 0;
            a {
                display: inline-block;
                padding: 5px 20px;
            }
        }
        &:not(.slick-initialized) {
            margin: 0;
            .slide-item {
                width: 100%;
            }
        }
    }
    @include max-media(500px) {
        text-align: center;
        .key-insights-title {
            width: 100%;
            height: auto;
            padding: 15px;
        }
        .key-insights-slider {
            width: 100%;
            height: auto;
            .slide-item {
                padding: 0;
                a {
                    display: inline-block;
                    padding: 15px;
                }
            }
        }
    }
}
.home-banner-section {
    padding: 0;
}
.home-banner-slider-wrapper {
    position: relative;
}
.home-banner-slider {
    .slick-list {
        margin: 0;
    }
    .slide-item {
        padding: 0;
    }
    &:not(.slick-initialized) {
        margin: 0;
        .slide-item {
            width: 100%;
        }
    }
}
.home-banner-slider-item {
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding: 90px 0 220px;
    font-size: 16px;
    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .home-banner-info {
        width: 50%;
        padding-left: 30px;
        .home-banner-title {
            @include fz-48;
            font-weight: bold;
            margin-bottom: 30px;
        }
        .home-banner-desc {
            margin-bottom: 25px;
            color: #bbb9b8;
        }
        .home-banner-intro {
            margin-bottom: 25px;
            font-weight: bold;
            .column {
                width: 50%;
            }
            .number {
                @include fz-24;
                font-weight: bold;
            }
            .title {
                color: #bbb9b8;
            }
        }
    }
    .home-banner-img {
        width: 50%;
        img {
            width: 100%;
            height: auto;
        }
    }
    @include max-media(500px) {
        padding: 60px 0 180px;
        .home-banner-info {
            order: 2;
            width: 100%;
            padding-left: 0;
            .home-banner-title {
                margin-bottom: 15px;
            }
            .home-banner-desc {
                margin-bottom: 15px;
            }
            .home-banner-intro {
                margin-bottom: 15px;
                .column {
                    width: 50%;
                }
                .number {
                    @include fz-24;
                    font-weight: bold;
                }
                .title {
                    color: #bbb9b8;
                }
            }
        }
        .home-banner-img {
            width: 100%;
            margin-bottom: 30px;
        }
    }
}
.home-banner-slider-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(transparent, #000);
    color: #fff;
    .slick-list {
        margin: 0;
    }
    .slide-item {
        padding: 35px 50px;
        position: relative;
        &::after {
            content: "";
            border-right: 1px solid rgba(#fff, 0.1);
            position: absolute;
            top: 35px;
            bottom: 35px;
            right: 0;
        }
        .title {
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 10px;
            @include line-clamp(1);
        }
        .content {
            @include line-clamp(3);
        }
        &.slick-current {
            background-color: $main-color;
            color: #fff;
        }
    }
    &:not(.slick-initialized) {
        margin: 0;
        .slide-item {
            width: 20%;
            @include max-media(991px) {
                width: 25%;
            }
            @include max-media(768px) {
                width: calc(100% / 3);
            }
            @include max-media(500px) {
                width: 50%;
            }
        }
    }
    @include max-media(768px) {
        .slide-item {
            padding: 15px;
        }
    }
}
.home-section {
    position: relative;
    padding: 150px 0;
    @include max-media(768px) {
        padding-top: 40px;
    }
}
.home-section-decor {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    border-right: 1px solid #d3d3d3;
    height: 100%;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    &-title {
        transform: rotate(180deg);
        color: rgba(#011f3f, 0.1);
        font-size: 60px;
        font-weight: 900;
        white-space: nowrap;
    }
    &::after {
        content: "";
        position: absolute;
        right: 0;
        border-right: 5px solid $main-color;
        top: 50%;
        transform: translateY(-50%);
        height: 200px;
    }
    @include max-media(1440px) {
        display: none;
    }
}
.home-section-direct {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #15677f;
    color: #fff;
    min-height: 80px;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    width: 850px;
    max-width: 100%;
    &-title {
        font-size: 18px;
        line-height: 1.2;
        padding: 15px 30px;
        display: flex;
        align-items: center;
        width: 55%;
    }
    &-link {
        padding: 15px 85px 15px 30px;
        background-image: url(../images/button-arrow-white.svg);
        background-repeat: no-repeat;
        background-position: right 30px center;
        display: flex;
        align-items: center;
        width: 22.5%;
        &:nth-child(odd) {
            background-color: #1a5364;
            color: inherit;
            &:hover {
                background-color: lighten(#1a5364, 10%);
            }
        }
        &:nth-child(even) {
            background-color: #699dad;
            color: inherit;
            &:hover {
                background-color: lighten(#699dad, 10%);
            }
        }
    }
    @include max-media(768px) {
        width: 100%;
        min-height: 60px;
        &-title {
            padding: 10px;
            font-size: 16px;
            width: 50%;
        }
        &-link {
            width: 25%;
            padding: 10px 40px 10px 10px;
            background-position: right 10px center;
        }
    }
    @include max-media(500px) {
        min-height: auto;
        &-title {
            width: 100%;
        }
        &-link {
            width: 50%;
        }
    }
}
.market-research {
    &-left {
        width: 25%;
        border-right: 1px solid #d3d3d3;
    }
    &-center {
        width: 25%;
    }
    &-right {
        width: 50%;
    }
    &-img {
        position: relative;
        margin-top: -90px;
        img {
            width: 100%;
            height: auto;
        }
        .open-video-btn-2 {
            position: absolute;
            left: 0;
            transform: translateX(-50%);
            bottom: 30px;
        }
    }
    @include max-media(768px) {
        &-left {
            width: 60%;
        }
        &-center {
            width: 40%;
        }
        &-right {
            width: 100%;
        }
        &-img {
            margin-top: 0;
            margin-left: 50px;
        }
    }
    @include max-media(500px) {
        &-left {
            width: 100%;
        }
        &-center {
            width: 100%;
        }
        .achievement-wrapper {
            display: flex;
            flex-wrap: wrap;
            .achievement-item {
                width: 50%;
                padding: 15px 15px 15px 0;
            }
        }
    }
    @include max-media(320px) {
        .achievement-wrapper {
            .achievement-item {
                width: 100%;
            }
        }
    }
}
.achievement-item {
    font-weight: bold;
    padding: 20px 35px;
    border-radius: 4px;
    .achievement-number {
        @include fz-24;
        color: $main-color;
        margin-top: 4px;
    }
    @include min-media(769px) {
        &:hover {
            background-color: $main-color;
            color: #fff;
            box-shadow: 10px 10px 30px 0 rgba(#000, 0.16);
            .achievement-number {
                color: inherit;
            }
        }
    }
}
.open-video-btn-2 {
    display: block;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    border: 1px solid #d3d3d3;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .fa {
        background-color: $main-color;
        color: #fff;
        border-radius: 100%;
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 10px 10px 20px 0 rgba(#000, 0.16);
    }
    @include max-media(768px) {
        width: 100px;
        height: 100px;
        font-size: 18px;
        .fa {
            width: 50px;
            height: 50px;
        }
    }
}
.request-for-quotes-section {
    background-color: #f3f7f8;
}
.request-for-quotes {
    &-left {
        width: 50%;
    }
    &-right {
        width: 50%;
        .text-wrapper {
            margin-bottom: 45px;
            column-count: 2;
            column-gap: 30px;
        }
    }
    &-img {
        position: relative;
        img {
            width: 100%;
            height: auto;
        }
        .open-video-btn-2 {
            position: absolute;
            bottom: 0;
            right: 70px;
            transform: translateY(50%);
        }
    }
    .achievement-wrapper {
        display: flex;
        flex-wrap: wrap;
        .achievement-item {
            padding: 20px;
            width: calc(100% / 3);
        }
    }
    @include max-media(768px) {
        &-left {
            width: 100%;
            margin-bottom: 50px;
        }
        &-right {
            width: 100%;
            .text-wrapper {
                margin-bottom: 30px;
            }
        }
        .achievement-wrapper {
            .achievement-item {
                width: 50%;
                padding: 15px 15px 15px 0;
            }
        }
    }
    @include max-media(500px) {
        &-left {
            margin-bottom: 30px;
        }
        &-right {
            .text-wrapper {
                column-count: initial;
                margin-bottom: 30px;
            }
        }
    }
    @include max-media(320px) {
        .achievement-wrapper {
            .achievement-item {
                width: 100%;
            }
        }
    }
}
.e-auction-section {
    background-size: 2000px auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding: 150px 0 200px;
    @include max-media(768px) {
        padding: 40px 0 150px;
    }
}
.e-auction {
    &-left {
        width: 50%;
        .text-wrapper {
            column-count: 2;
            column-gap: 30px;
        }
    }
    &-right {
        width: 50%;
    }
    .achievement-wrapper {
        margin-bottom: 40px;
        .column {
            width: calc(100% / 3);
        }
        .achievement-item {
            border-radius: 4px;
            border: 1px solid #d3d3d3;
            padding: 75px 50px 20px 20px;
            height: 100%;
            background-image: url(../images/light.svg);
            background-repeat: no-repeat;
            background-position: right 15px top 20px;
            .achievement-number {
                color: #699dad;
            }
            &:hover {
                background-color: $main-color;
                color: #fff;
                border-color: transparent;
                .achievement-number {
                    color: inherit;
                }
            }
        }
    }
    @include max-media(768px) {
        &-left {
            width: 100%;
            .text-wrapper {
                column-count: 2;
                column-gap: 30px;
            }
        }
        &-right {
            width: 100%;
        }
    }
    @include max-media(500px) {
        &-left {
            .text-wrapper {
                column-count: initial;
            }
        }
        .achievement-wrapper {
            .column {
                width: 50%;
            }
        }
    }
    @include max-media(320px) {
        .achievement-wrapper {
            .columns {
                margin: -5px;
            }
            .column {
                padding: 5px;
                width: 100%;
            }
        }
    }
}

.case-study-schedule-section {
    padding: 80px 0;
    @include max-media(768px) {
        padding: 40px 0;
    }
}
.case-study-banner-section {
    padding: 190px 0;
    background-size: cover;
    background-position: center center;
    .case-study-banner-title {
        @include fz-48;
        font-weight: bold;
        color: $main-color;
        margin-bottom: 20px;
    }
    .case-study-banner-desc {
        @include fz-18;
        margin-bottom: 40px;
    }
    @include max-media(991px) {
        padding: 120px 0;
    }
    @include max-media(768px) {
        padding: 40px 0;
        .case-study-banner-title {
            margin-bottom: 15px;
        }
        .case-study-banner-desc {
            margin-bottom: 20px;
        }
    }
}
.like-section {
    padding: 40px 0;
    background-color: $main-color;
    color: #fff;
    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    &-title {
        @include fz-18;
        font-weight: bold;
        width: 50%;
        padding-right: 30px;
    }
    &-nav {
        width: 50%;
        text-align: right;
        li {
            display: inline-block;
            margin: 5px;
            a {
                display: block;
                background-color: #fff;
                color: $main-color;
                font-size: 12px;
                font-weight: bold;
                padding: 12px 20px;
                min-width: 175px;
                text-align: center;
            }
            &:hover {
                a {
                    background-color: #699dad;
                    color: #fff;
                }
            }
        }
    }
    @include max-media(768px) {
        text-align: center;
        &-title {
            width: 100%;
            padding-right: 0;
            margin-bottom: 15px;
        }
        &-nav {
            width: 100%;
            text-align: inherit;
            li {
                display: inline-block;
                margin: 5px 5px 5px 0;
                a {
                    display: block;
                    background-color: #fff;
                    color: $main-color;
                    font-size: 12px;
                    font-weight: bold;
                    padding: 12px 20px;
                }
                &:hover {
                    a {
                        background-color: #699dad;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.term-direct-slider-nav {
    border-bottom: 1px solid #e2e2e2;
    margin-right: -1px;
    position: relative;
    z-index: 2;
    .slick-list {
        margin: 0;
        overflow: visible;
    }
    .slide-item {
        padding: 0;
        border-right: 1px solid #e2e2e2;
        cursor: pointer;
        &.current {
            .about-direct-link {
                border-bottom-color: $main-color;
            }
        }
    }
    &:not(.slick-initialized) {
        margin: 0;
        .slide-item {
            width: 50%;
            @include max-media(500px) {
                width: 100%;
            }
        }
    }
    &.slick-dotted + .about-direct-slider {
        margin-top: 40px;
    }
}

.woocommerce-page {
    .training-registration-wrapper {
        padding: 0;
        font-size: 16px;
        h3,
        #custom_checkout_field h3,
        .cart-collaterals .cart_totals > h2,
        .woocommerce-additional-fields > h3,
        .woocommerce-billing-fields > h3,
        #order_review_heading {
            margin: 15px 0;
            @include fz-24;
        }
    }
    .wc_payment_methods .wc_payment_method .input-radio:checked + label:before {
        border-color: $main-color;
    }
    .wc_payment_methods .wc_payment_method .input-radio:checked + label {
        border-bottom-color: $main-color;
    }
    .wc_payment_methods .wc_payment_method .input-radio:checked + label:after {
        background-color: $main-color;
    }
    .mona-content a {
        color: $main-color;
    }
    .woocommerce form .form-row {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @include max-media(500px) {
            margin-bottom: 15px;
        }
    }
    .mona-content {
        color: inherit;
    }
    #add_payment_method table.cart input,
    .woocommerce-cart table.cart input,
    .woocommerce-checkout table.cart input,
    .woocommerce form .form-row input.input-text,
    .woocommerce form .form-row textarea {
        appearance: none;
        font: inherit;
        outline: 0;
        border-radius: 0;
        width: 100%;
        border: 1px solid #e1e1e1;
        background-color: #fff;
        color: inherit;
        padding: 0 20px;
        height: 40px;
        &::placeholder {
            color: #b2bbc5;
        }
        &:disabled {
            cursor: not-allowed;
        }
        &:focus {
            border-color: $main-color;
        }
    }
    .woocommerce form .form-row textarea.input-text {
        padding: 10px 20px;
        max-width: 100%;
    }
    .select2-container {
        .select2-selection--single {
            height: 40px;
            border-radius: 0;
            border-color: #e1e1e1;
            margin: 0;
            outline: 0;
            &:focus {
                border-color: $main-color;
            }
            .select2-selection__rendered {
                color: inherit;
                padding: 0 20px;
                line-height: 40px;
                padding-right: 40px;
            }
            .select2-selection__arrow {
                height: 40px;
            }
        }
    }
    .woocommerce #respond input#submit,
    .woocommerce a.button,
    .woocommerce button.button,
    .woocommerce input.button,
    .woocommerce #respond input#submit.alt,
    .woocommerce a.button.alt,
    .woocommerce button.button.alt,
    .woocommerce input.button.alt {
        appearance: none;
        font: inherit;
        outline: 0;
        border-radius: 0;
        cursor: pointer;
        display: inline-block;
        border: 1px solid $main-color;
        background-color: $main-color;
        color: #fff;
        padding: 11px 46px;
        white-space: nowrap;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        &:hover {
            background-color: #fff;
            color: $main-color;
        }
    }
    .woocommerce table.shop_table th {
        padding: 15px;
        color: inherit;
    }
    .woocommerce table.shop_table td {
        padding: 15px;
    }
    .cart-collaterals .cart_totals > h2,
    .woocommerce-additional-fields > h3,
    .woocommerce-billing-fields > h3,
    #order_review_heading {
        color: inherit;
    }
    #custom_field_gender_field,
    #custom_field_registration_mode_field {
        .woocommerce-input-wrapper {
            display: inline-flex;
            align-items: center;
        }
    }
    .input-radio {
        height: 24px;
        width: 24px;
        appearance: none;
        position: relative;
        outline: 0;
        margin-right: 8px;
        flex-shrink: 0;
        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            border: 2px solid #707070;
            border-radius: 100%;
        }
        &::after {
            content: "";
            width: 14px;
            height: 14px;
            background-color: #15677f;
            border-radius: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
        }
        &:checked {
            &::after {
                display: block;
            }
        }
    }
    #add_payment_method #payment div.payment_box p:last-child,
    .woocommerce-cart #payment div.payment_box p:last-child,
    .woocommerce-checkout #payment div.payment_box p:last-child {
        margin: 0;
    }
    #add_payment_method #payment div.payment_box,
    .woocommerce-cart #payment div.payment_box,
    .woocommerce-checkout #payment div.payment_box {
        color: inherit;
    }
    .woocommerce
        table.shop_table.woocommerce-checkout-review-order-table
        tfoot
        th {
        color: inherit;
    }
    #custom_checkout_field h3 {
        color: inherit;
    }
    .woocommerce-info {
        border-top-color: $main-color;
        &::before {
            color: $main-color;
        }
    }
    @include max-media(500px) {
        .training-registration-wrapper {
            padding: 0;
            font-size: 14px;
        }
        #customer_details
            .woocommerce-billing-fields
            .woocommerce-billing-fields__field-wrapper
            p
            label,
        .woocommerce-additional-fields
            .woocommerce-additional-fields__field-wrapper
            #order_comments_field
            label,
        #custom_checkout_field p label {
            width: 100%;
        }
        #customer_details
            .woocommerce-billing-fields
            .woocommerce-billing-fields__field-wrapper
            p
            > span,
        .woocommerce-additional-fields
            .woocommerce-additional-fields__field-wrapper
            #order_comments_field
            > span,
        #custom_checkout_field p span {
            width: 100% !important;
        }
        #billing_city_field input {
            width: 100%;
        }
    }
    // .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
    //     background-color: #E7EFF2;
    //     border-color: #E7EFF2;
    //     color: $main-color;
    //     &:hover {
    //         background-color: $main-color;
    //         border-color: $main-color;
    //         color: #fff;
    //     }
    // }
}
