.mona-loading-video{
    outline: 0;
    max-width: 800px;
}
.mona-loading-video *{
    outline: 0;
}
.mona-loading-video video{
    display: block;
    width: 100%;
    height: auto;
}

.testimonials-slider:not(.slick-initialized) .slide-item {
    width: 10%;
}
@media screen and (max-width: 1920px) {
    .testimonials-slider:not(.slick-initialized) .slide-item {
        width: 20%;
    }
}
@media screen and (max-width: 1200px) {
    .testimonials-slider:not(.slick-initialized) .slide-item {
        width: 25%;
    }
}
@media screen and (max-width: 991px) {
    .testimonials-slider:not(.slick-initialized) .slide-item {
        width: 25%;
    }
}
@media screen and (max-width: 500px) {
    .testimonials-slider:not(.slick-initialized) .slide-item {
        width: 50%;
    }
}
@media screen and (max-width: 375px) {
    .testimonials-slider:not(.slick-initialized) .slide-item {
        width: 100%;
    }
}

#about-direct-section-fixed.fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: #fff;
}
#about-direct-section-fixed.fixed .about-direct-link{
    min-height: 0;
    padding: 10px 15px;
}
#about-direct-section-fixed.fixed .about-direct-link .title{
    font-size: 18px;
}
.header.fixed{
    animation-duration: 0.6s;
}
@media only screen and (max-width : 991px){
    #about-direct-section-fixed.fixed .about-direct-slider-nav.slick-dotted{
        margin-bottom: 0;
    }
    #about-direct-section-fixed.fixed .about-direct-slider-nav.slick-dotted .slick-dots{
        display: none !important;
    }
}